<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="../js/vue.js"></script>
    <title>Directives</title>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="(name, index) in names">{{ name }} / {{ index }}</li>
      </ul>

      <ul>
        <li v-for="(car, index) in cars">
          {{ index }} / {{ car.color }} / {{ car.model }}
        </li>
      </ul>

      <ul>
        <li v-for="(value, key, index) in user">
          {{ index }} - {{ key }} : {{ value }}
        </li>
      </ul>
    </div>
  </body>
  <script src="app.js"></script>
</html>
